{% extends 'layout.html' %}

{% block content %}

<h1 class="main-title">AIP<span class="subtitle">(Asociacion de Interes Publico)</span></h1>

<div class="welcome-message">
  <p>¡Bienvenidos a nuestra Asociación de Interés Público!</p>
  <p>En nombre de todo nuestro equipo, te damos una cálida bienvenida a nuestra comunidad 
     solidaria. Aquí encontrarás un espacio donde el compromiso social y el deseo de hacer 
     del mundo un lugar mejor nos unen.
     Nuestra AIP se enfoca en promover el bienestar y el interés público, defendiendo y apoyando causas sociales que impacten positivamente en la vida de las personas. Trabajamos incansablemente para construir puentes de esperanza y crear oportunidades para quienes más lo necesitan.
     Nos enorgullece contar con personas comprometidas y colaboradoras como tú, quienes hacen posible que cada acción solidaria marque la diferencia en la sociedad. Tu participación y apoyo son fundamentales para lograr nuestros objetivos y transformar vidas.
     Te invitamos a explorar nuestro sitio y conocer más sobre nuestras actividades, proyectos y formas de contribuir. Juntos, podemos alcanzar metas significativas y construir un futuro más justo y equitativo para todos.
     ¡Gracias por unirte a nuestro propósito común! Esperamos que tu experiencia en nuestra AIP sea enriquecedora y te inspire a ser parte del cambio positivo que tanto anhelamos.</p>
</div>

<div class="card-container">
  <div class="card">
    <img src="static/img/img1.jpg" alt="Imagen de la tarjeta 1">
    <div class="card-info">
      <h2>AIP</h2>
      <p class="bg-light text-dark">sistema de gestión base de datos para Asociaciones De Interés 
                                    Público en el que las instituciones puedan organizar sus 
                                    datos de forma ordenada y segura y manteniendo su forma 
                                    jurídica y ejecutiva</p>
    </div>
  </div>

  <div class="card">
    <img src="static/img/img2.jpg" alt="Imagen de la tarjeta 2">
    <div class="card-info">
      <h2>MISIÓN</h2>
      <p>1.Promover el bienestar y el interés público</p>
      <p>2.Defensa y promoción de causas sociales</p>
      
    </div>
  </div>

  <div class="card">
    <img src="static/img/img3.jpg" alt="Imagen de la tarjeta 3">
    <div class="card-info">
      <h2>COLABORADORES</h2>
      <p>Carlos Solís(presidente)</p>
      <p>Samuel gutierrez(gerente)</p>
      <p>Jennifer arcia(colaborador)</p>  
    </div>
  </div>
</div>

{% endblock %}